/* Main Container */
*{margin: 0;
padding: 0;
box-sizing: 0;
}
/* body{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.maincontainer{
    width: 970px;
    background-color: #245076;
    position: absolute;
    left: 500px;
}
.yellowtext{
    color: #FFD42E;
}
.whitetext{
    color: white;
}
.textsize{
    display: flex;
    position: absolute;
    top:10px;
    left:750px
}
.blacksearchbar{
    background-color: rgb(43, 39, 39);
    display: flex;
    height: 60px;
    width: 310px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    top:30px;
    left:650px

}
.searchbar{
    display: flex;
    height:40px;
}
button{
    color: white;
    background-color: #245076;
    border-radius: 20%;
    height: 30px;
    width: 40px;
}
/* Nav Bar */
.navbar a {
    text-decoration: none;
    color: white;
    font-size: x-large;
} 
.navbar{
    background-color:#437dad;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    width: 900px;
    margin-left: 50px;
    box-shadow: 2px 2px 0;
}
.links{
    /* display: flex;
    flex-direction: column;
    justify-content:center; */
    margin-left: 50px;
    margin-top: 40px;
    display: inline-block;
    text-align: center;
}
.links a{
    display: inline-block;
    color: white;
    font-size:x-large;
    margin: 5px;
}
.links ul {
    list-style-type: none;
}

.aboutpython{
    color: white;
    position: absolute;
    top: 250px;
    left: 300px;
    font-size: medium;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutpython p{
    margin: 0;
}
.nicephrases{
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 350px;
    left:450px
    
    
}
.nicephrases p {
    margin-bottom:6px;
}
.zenofpython{
    color:white;
    font-size: x-large;
    position: absolute;
    top:520px;
    left:550px;
}
.whitebar{
    display: flex;
    margin-top: 200px;
    justify-content: space-around;
    background-color: white;
    height: 250px;
    text-align: center;
    
}
.whitebar1 ul{
    color: rgb(33, 166, 249);
    list-style-type: square;
    list-style-position: outside;
    margin-left: 80px;
}
.whitebar2  ul{
    color: rgb(33, 166, 249);
    list-style-type: square;
    list-style-position: outside;
    margin-left: 80px;
}
.whitebar2 a{
    color: rgb(33, 166, 249);
}
.bottombluebar a{
    text-decoration: none;
    color:#87bae5;
    font-size: x-large;
}
.bottombluebar{
    display: flex;
    justify-content: center;
    height: 130px;
    align-items: center;
    gap: 80px;
    font-size: larger;
    padding: 20px;
}
.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#87bae5;
    
}
.whitebar1{
    border-top: 5px solid #73A7D5;
    width: 40%;
    margin-top: 10px;
    padding: 20px;
}
.whitebar2{
    border-top: 5px solid #73A7D5;
    width: 40%;
    margin-top: 10px;
    padding: 20px;
}
span{
    color: yellow;
}
ul li::marker {
    color: rgb(8, 8, 8);
}

.logo-img{
    height:120px;
    width:400px;
}
.topsearchbar{
    text-align: center;
}