body{
    margin-left: 200px;
    margin-top: 50px;
}

button{
    background-color: yellow;
    box-shadow: 2px 2px 0;
    height: 30px;
    width: 50px;
}
.main{
    border: 2px solid black;
    width: 30%;
    padding: 20px;
}
.firstpart{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.secondpart{
    margin-left: 42px;
    
}