<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form action="/result" method="POST">
        {% csrf_token %}
        <label for="name" >Your Name:</label>
        <input type="text" name="name" >
        
        <div>
        <label for="location">Dojo location:</label>
        <select name="location" id="location">
            <option value="sanjose">San Jose</option>
            <option value="sanfrancisco">San Francisco</option>
            <option value="california">California</option>
        </select>
        </div>    
        <label for="language">Favorite Language</label>
        <select name="language" id="language">Favorite Language
            <option value="python">Python</option>
            <option value="javascript">JavaScript</option>
            <option value="java">Java</option>
        </select>
        <label for="comment">Comment(optional)</label>
        <textarea name="comment"></textarea>
        <input type="submit" >
    </form>
</body>
</html>