

.d1{
    background-color: white;
    border-color:aqua;
    color: aqua;    
    border-radius: 50px;
}

.d2{
    background-color:#00FFFF;
    border-color: #00FFFF;  
    color: white;
    border-radius: 50%;
    border-width: 0px;
}

.d3{
    background-color:blue;
    color: white;
}