{% extends 'shows/base.html' %}
{% block title %}Edit {{ show.title }}{% endblock %}

{% block content %}
    <a href="{% url 'index' %}" class="go-back">&laquo; Go Back</a>
    <h1>Edit {{ show.title }}</h1>

    <form action="{% url 'update' show.id %}" method="post" class="show-form">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <label for="{{ form.title.id_for_label }}">Title</label>
        {{ form.title }}
        {{ form.title.errors }}

        <div class="form-row">
            <div>
                <label for="{{ form.network.id_for_label }}">Network</label>
                {{ form.network }}
                {{ form.network.errors }}
            </div>
            <div>
                <label for="{{ form.release_date.id_for_label }}">Release Date</label>
                {{ form.release_date }}
                {{ form.release_date.errors }}
            </div>
        </div>

        <label for="{{ form.description.id_for_label }}">Description</label>
        {{ form.description }}
        {{ form.description.errors }}

        <button type="submit" class="btn btn-primary">Update</button>
    </form>

    <a href="{% url 'show' show.id %}" class="go-to-show">Go to Show &raquo;</a>
{% endblock %}
