<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Gold Game</title>
</head>
<body>
    <h1>Your gold{{}}</h1>
    
    <div>
        <h2>Farm</h2>
        <p>(earns 10-20 gold)</p>
        <form action="" method="POST">
            {%csrf_token%}
            <button>Find Gold!</button>
        </form>
    </div>
    <div>
        <h2>Cave</h2>
        <p>(earns 10-20 gold)</p>
        <form action=""method="POST">
            {%csrf_token%}
            <input type="hidden" name="action" value="cave">
            <button>Find Gold!</button>
        </form>
    </div>
        <div>
        <h2>House</h2>
        <p>(earns 10-20 gold)</p>
        <form action=""method="POST">
            {%csrf_token%}
            <input type="hidden" name="action" value="house">
            <button>Find Gold!</button>
        </form>
    </div>
        <div>
        <h2>Quest</h2>
        <p>(earns/takes 0-50 gold)</p>
        <form action=""method="POST">
            {%csrf_token%}
            <input type="hidden" name="action" value="quest">
            <button>Find Gold!</button>
        </form>
    </div>
    <h2>Activities:</h2>
    <p>{{}}</p>

</body>
</html>