*{
  margin: 8px;
}
.first-header{
  background-color: black;
  color: white;
  
}
.word{
  color: skyblue;
  margin-left:0px;
}

.second-header{
  background-color: slateblue;
  color: white;
  text-align: center;
  font-style: italic;
}

.third-header{
  text-align: right;
  background-color: lightskyblue;
  text-decoration: underline;
  color: #271c56;
  
}