body{
    margin-left: 350px;
}
.blacktopbar{
    background-color: black;
    color: white;
    width: 600px;
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 100px;
    padding-left: 30px;
}
.yourfeed{
    display: flex;
    align-items: center;
    padding-left: 400px;
}
img{
    height: 100px;
    width: 80px;
}
.profilepic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 200px;
    height: 250px;
    margin-left: 100px;
}
.neilm{
    border: 2px solid black;
    width: 400px;

}
.separate{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.separate2{
    margin-left: 60px;
}
.nicholek{
    border: 2px solid black;
    width: 400px;
    margin-top: 10px;

}
.jimr{
    border: 2px solid black;
    width: 400px;
    margin-top: 10px;
}
button{
    background-color: yellow;
    width: 50px;
    /* margin-top: 20px; */
}
.flex{
    display: flex;
    gap: 20px;
}
